@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&display=swap');

* {
    font-family: 'B612 Mono', monospace;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #212121;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #EDE7F6;
    margin-top: 200px;
}


.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 800px;
    min-height: 300px;
    background: #424242;
    padding: 5px;
    border-radius: 10px;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-to-do {
    height: 30%;
    width: 100%;
}

.input-to-do input {
    width: 80%;
    height: 50px;
    outline: none;
    border: none;
    border: 3px solid gray;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #EDE7F6;
    background: transparent;
}

.input-to-do button {
    height: 50px;
    width: 20%;
    border: 3px solid gray;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    background: transparent;
    color: #EDE7F6;
    outline: none;
    margin-left: 5px;
    transition: color .5s;
    transition: background .5s;
}

.input-to-do button:hover {
    background: #EDE7F6;
    color: #424242;
}

.to-do-tasks {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-container {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
    width: 80%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid gray;
}

.span-task {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    height: 30px;
    font-size: 1.5rem;
}

.remove-btn {
    font-size: 1rem;
    height: 30px;
    margin-right: 10%;
    margin-left: 5px;
    border: 3px solid gray;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    color: #EDE7F6;
    background: transparent;
    transition: color .5s;
    transition: background .5s;
}

.remove-btn:hover {
    background: #EDE7F6;
    color: #424242;
}

.span-info {
    margin-top: 100px;
    font-size: 2rem;
}